@import '~styles/_variables.scss';

.midi-device-options {

  select {
    width: 50px;
    background-color: rgba(black, .5);
    color: $dark5;
    border: none;
    outline: none;

    option {
      background-color: black;
      color: $dark5;
    }
  }
}
