@import '~styles/_variables.scss';

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background: linear-gradient(darken($paper, 10) 10%, $paper 100%);
  // background: linear-gradient(darken($turquoise3, 10) 10%, $turquoise1 100%);
  background-color: lighten($dark1, 30);
}
