@import '~styles/shared.scss';

$mixer-color: $dark1;
$mixer-font-color: $dark1;

.mixer {
  width: 100%;
  display: flex;
  color: $mixer-font-color;
  z-index: 500;
  overflow: auto;
  background: linear-gradient(135deg, $dark3, $dark1);

  .add {
    opacity: 0.5;
    background-color: lighten($mixer-color, 10);
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    color: $dark4;
    transition: opacity .1s;

    &:hover {
      cursor: pointer;
      opacity: 1;
      transition: opacity .1s;
    }
  }

  >.end {
    margin-left: auto;
    display: inherit;
  }
}
