@import '~styles/_variables.scss';

$channel-strip-width: 120px;
$channel-strip-bg-color: $dark3;
$channel-strip-color: $dark4;
$channel-strip-border-color: darken($channel-strip-bg-color, 10);

$level-bars-bg-color: $dark1;
$level-indicator-bg-color: #5CF66C;
$level-bars-height: 270px;

.channel-strip {
  display: flex;
  flex-direction: column;
  width: $channel-strip-width;
  color: $channel-strip-color;
  background-color: $channel-strip-bg-color;
  border-left: 2px solid $channel-strip-border-color;
  border-right: 2px solid $channel-strip-border-color;
  transition: background-color .1s;

  &.selected {
    background-color: lighten($channel-strip-bg-color, 2);
    transition: background-color .1s;
  }

  &:hover {
    background-color: lighten($channel-strip-bg-color, 2);
    transition: background-color .1s;
  }

  &.master {
    .label {
      background-color: $green1;
      color: white;
    }
  }

  &.selected {
    background-color: lighten($channel-strip-bg-color, 10);
  }

  &+.channel-strip {
    border-left: 0;
  }

  %titlebar {
    padding: 2px 5px;
    border-bottom: 1px solid $channel-strip-border-color;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .label {
    @extend %titlebar;
    font-weight: 500;
    font-style: italic;
  }

  .instruments-choices {
    @extend %titlebar;
    background-color: $blue3;
    color: white;
  }

  .delete {
    @extend %titlebar;
    background-color: $red4;
    color: $red1;
    opacity: 0.5;
    transition: opacity .1s;

    &:hover {
      cursor: pointer;
      opacity: 1;
      transition: opacity .1s;
    }
  }

  .sound-meter {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 10px;
    user-select: none;

    .controls {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .item {
        margin: 5px 10px;
      }

      .end {
        margin-top: auto;
      }

      .button {
        font-size: 12px;
        padding: 0 5px;
        border: 1px solid $dark4;
        border-radius: 5px;
        text-align: center;
      }

      .gain {
        input {
          width: 50px;
        }
      }

      .midi {
        .title {
          display: flex;
          align-items: center;
        }

        .midi-indicator {
          width: 6px;
          height: 6px;
          border-radius: 3px;
          background-color: $dark4;
          display: inline-block;
          margin-right: 10px;

          &.on {
            background-color: $level-indicator-bg-color;
            box-shadow: 0px 0px 5px $level-indicator-bg-color;
          }
        }
      }

      .mute.on {
        color: white;
        background-color: $red2;
      }

      .mute:hover {
        cursor: pointer;
      }
    }

    .level-bars {
      align-self: center;
      display: flex;
      align-items: stretch;

      .level-indicator {
        align-self: center;
        display: flex;
        align-items: flex-end;
        height: $level-bars-height;
        background-color: $level-bars-bg-color;
        margin: 1px;
        position: relative;
        overflow: hidden;

        .level-indicator-max-bar {
          width: 5px;
          height: 100%;
          border-top: 1px solid $level-indicator-bg-color;
          box-sizing: border-box;
          position: absolute;
        }

        .level-indicator-bar {
          width: 5px;
          background-color: $level-indicator-bg-color;
          transition: height 0.1s;
        }
      }
    }
  }
}
